In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('data_1.csv')
df

            Product_Name Region  Sales
0     High-Quality Phone   East   3978
1   High-Quality Blender  South    838
2            Luxury Shoe   West   1155
3         Deluxe Toaster  North   4196
4           Deluxe Watch  North   3691
5   Eco-friendly Blender   East   4932
6     Eco-friendly Chair   East   4450
7        Premium Blender   East    838
8           Deluxe Phone   West   1902
9           Deluxe Shirt  South   3219
10       Standard Laptop  North   1868
11         Premium Table  North   2289
12          Luxury Chair   West   3295
13        Economic Watch  South   3560
14        Standard Shirt   East    855
15          Premium Shoe   East   4068
16     High-Quality Shoe  North   2431

In [52]:
df['Average_Sales'] = df.groupby('Region')['Sales'].transform(lambda x: x.mean().round(2))
df

            Product_Name Region  Sales  Average_Sales
0     High-Quality Phone   East   3978        3186.83
1   High-Quality Blender  South    838        2539.00
2            Luxury Shoe   West   1155        2117.33
3         Deluxe Toaster  North   4196        2895.00
4           Deluxe Watch  North   3691        2895.00
5   Eco-friendly Blender   East   4932        3186.83
6     Eco-friendly Chair   East   4450        3186.83
7        Premium Blender   East    838        3186.83
8           Deluxe Phone   West   1902        2117.33
9           Deluxe Shirt  South   3219        2539.00
10       Standard Laptop  North   1868        2895.00
11         Premium Table  North   2289        2895.00
12          Luxury Chair   West   3295        2117.33
13        Economic Watch  South   3560        2539.00
14        Standard Shirt   East    855        3186.83
15          Premium Shoe   East   4068        3186.83
16     High-Quality Shoe  North   2431        2895.00

In [56]:


df

            Product_Name Region  Sales  Average_Sales  Normalized_Sales
0     High-Quality Phone   East   3978        3186.83              1.25
1   High-Quality Blender  South    838        2539.00              0.33
2            Luxury Shoe   West   1155        2117.33              0.55
3         Deluxe Toaster  North   4196        2895.00              1.45
4           Deluxe Watch  North   3691        2895.00              1.27
5   Eco-friendly Blender   East   4932        3186.83              1.55
6     Eco-friendly Chair   East   4450        3186.83              1.40
7        Premium Blender   East    838        3186.83              0.26
8           Deluxe Phone   West   1902        2117.33              0.90
9           Deluxe Shirt  South   3219        2539.00              1.27
10       Standard Laptop  North   1868        2895.00              0.65
11         Premium Table  North   2289        2895.00              0.79
12          Luxury Chair   West   3295        2117.33              1.56
13        Economic Watch  South   3560        2539.00              1.40
14        Standard Shirt   East    855        3186.83              0.27
15          Premium Shoe   East   4068        3186.83              1.28
16     High-Quality Shoe  North   2431        2895.00              0.84